.sider {
  background-color: #44524f !important;
}
.sider-menu {
  background-color: #44524f !important;
  color: #ffffff !important ;
  margin-top: 30px !important;
}
.sider-menu-item {
  margin-bottom: 15px !important;
}
.sider-menu-item:hover {
  background-color: #fff;
  color: #44524f !important;
  transition: 0.5s ease-in-out !important;
}

.submenu-item {
  color: #44524f;
}
.submenu-item:hover {
  background-color: #44524f;
  color: #ffffff !important;
}

.active-menu {
    background-color: #fff;
    color: #44524f !important;
  margin-bottom: 15px !important;

}

.ant-menu-submenu-arrow {
  color: #ffffff !important;
}

.ant-layout-sider-trigger{
background-color:#ffffff !important ;
color: #44524f !important;
border-right: 1px solid !important;
}