.marker {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.marker-pop-box{
padding: 10px 20px;
}
.right-zoom{
  margin-left: 92%;
  margin-top: 4%;
}
.full-screen-control{
  margin-left: 4%;
  margin-top: 4%;
}

.map{
  width: 100%;
  min-height: 700px !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}


.map-box{
  min-height: 700px;
  width: 100%;
}

@media (max-width: 600px) {
  .map-box {
    min-height: 600px;
  }
  .map{
    min-height: 600px;
  }
}

@media (min-width:1200px) {
  .map-box{
    min-height: 900px;
  }
  .map{
    min-height: 900px;
  }
}
